@model GainsRequestViewModel
@{
    ViewData["Title"] = "Plusvalías";
    var splitters = new List<object>()
    {
        new { Id="\t", Text="Tab" },
        new { Id=",", Text="," },
        new { Id="|", Text="|" }
    };
}
<div class="d-flex flex-column">

    <div class="col-sm-12">
        <h1 class="text-center">¡Bienvenido inversor!</h1>
        <p class="text-center">Selecciona tu fichero con todos los registros de operaciones de Compra y Venta de productos financieros. </p>
        <p class="text-center">Todas las operaciones se realizan en memoria en tiempo de ejecución por lo que no almacenamos ningún dato.</p>
        <p class="text-center font-weight-bold font-italic text-danger">Recuerda que este cálculo no es más que una ayuda y queda bajo la responsabilidad de cada uno los datos presentados a las instituciones oficiales.</p>
        <p class="text-center font-italic">Si descubres que hay algún gazapo o quieres contactar conmigo puedes <a href="https://github.com/JGR-0/MyToolbox/issues" target="_blank">abrir un ticket en GitHub</a>.</p>
    </div>

    <div class="col-sm-12 pt-5">
        <form enctype="multipart/form-data" method="post" asp-controller="Gains" asp-action="GainsRequest" class="row align-items-center justify-content-start d-flex">

            @Html.AntiForgeryToken()

            <div class="col-sm-12 p-2">
                <div class="d-flex row">
                    <div class="col-sm-12 col-md-6">
                        <div class="d-flex row">
                            <input class="col-sm-12" asp-for="File" type="file">
                            <span asp-validation-for="File"></span>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-3">
                        <div class="d-flex flex-column">
                            <label class="col-sm-12 text-center" asp-for="WithHeaders"></label>
                            <input class="col-sm-12" asp-for="WithHeaders" type="checkbox">
                            <span asp-validation-for="WithHeaders"></span>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-3">
                        <div class="d-flex flex-column">
                            <label class="col-sm-12 text-center" asp-for="Splitter" asp-items="splitters.Select(x => new SelectList"></label>
                            @Html.DropDownListFor(m => m.Splitter, new SelectList(splitters, "Id", "Text"))
                            <span asp-validation-for="Splitter"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 d-flex p-2">
                <label class="col-sm-12 col-md-10" asp-for="ColumnsConfiguration.DateColNumber"></label>
                <input class="col-sm-12 col-md-2" asp-for="ColumnsConfiguration.DateColNumber" type="number" min="0">
                <span class="text-danger">*</span>
                <span asp-validation-for="ColumnsConfiguration.DateColNumber"></span>
            </div>

            <div class="col-sm-12 col-md-6 d-flex p-2">
                <label class="col-sm-12  col-md-10" asp-for="ColumnsConfiguration.TimeColNumber"></label>
                <input class="col-sm-12  col-md-2" asp-for="ColumnsConfiguration.TimeColNumber" type="number" min="0">
                <span class="text-danger">*</span>
                <span asp-validation-for="ColumnsConfiguration.TimeColNumber"></span>
            </div>

            <div class="col-sm-12 col-md-6 d-flex p-2">
                <label class="col-sm-12  col-md-10" asp-for="ColumnsConfiguration.ISINColNumber"></label>
                <input class="col-sm-12  col-md-2" asp-for="ColumnsConfiguration.ISINColNumber" type="number" min="0">
                <span class="text-danger">*</span>
                <span asp-validation-for="ColumnsConfiguration.ISINColNumber"></span>
            </div>

            <div class="col-sm-12 col-md-6 d-flex p-2">
                <label class="col-sm-12  col-md-10" asp-for="ColumnsConfiguration.ProductNameColNumber"></label>
                <input class="col-sm-12  col-md-2" asp-for="ColumnsConfiguration.ProductNameColNumber" type="number" min="0">
                <span class="text-danger">*</span>
                <span asp-validation-for="ColumnsConfiguration.ProductNameColNumber"></span>
            </div>

            <div class="col-sm-12 col-md-6 d-flex p-2">
                <label class="col-sm-12  col-md-10" asp-for="ColumnsConfiguration.ItemsNumberColNumber"></label>
                <input class="col-sm-12  col-md-2" asp-for="ColumnsConfiguration.ItemsNumberColNumber" type="number" min="0">
                <span class="text-danger">*</span>
                <span asp-validation-for="ColumnsConfiguration.ItemsNumberColNumber"></span>
            </div>

            <div class="col-sm-12 col-md-6 d-flex p-2">
                <label class="col-sm-12  col-md-10" asp-for="ColumnsConfiguration.LocalUnitPriceColNumber"></label>
                <input class="col-sm-12  col-md-2" asp-for="ColumnsConfiguration.LocalUnitPriceColNumber" type="number" min="0">
                <span class="text-danger">*</span>
                <span asp-validation-for="ColumnsConfiguration.LocalUnitPriceColNumber"></span>
            </div>

            <div class="col-sm-12 col-md-6 d-flex p-2">
                <label class="col-sm-12  col-md-10" asp-for="ColumnsConfiguration.ComissionColNumber"></label>
                <input class="col-sm-12  col-md-2" asp-for="ColumnsConfiguration.ComissionColNumber" type="number" min="0">
                <span class="text-danger">*</span>
                <span asp-validation-for="ColumnsConfiguration.ComissionColNumber"></span>
            </div>

            <div class="col-sm-12 col-md-6 d-flex p-2">
                <label class="col-sm-12  col-md-10" asp-for="ColumnsConfiguration.ExchangeRateColNumber"></label>
                <input class="col-sm-12  col-md-2" asp-for="ColumnsConfiguration.ExchangeRateColNumber" type="number" min="0">
                <span class="text-danger">*</span>
                <span asp-validation-for="ColumnsConfiguration.ExchangeRateColNumber"></span>
            </div>

            <div class="col-sm-12 d-flex justify-content-center pt-3 text-danger">
                <small>* La primera columna del fichero es 0.</small>
            </div>

            <div class="col-sm-12 d-flex justify-content-center pt-5">
                <input class="btn btn-primary col-sm-12" type="submit" value="Calcular" />
            </div>

        </form>

    </div>
</div>