@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p class="text-center">Todas las operaciones se realizan en memoria en tiempo de ejecución por lo que no almacenamos ningún dato.</p>
<p class="text-center font-weight-bold font-italic">Recuerda que este cálculo no es más que una ayuda y queda bajo la responsabilidad de cada uno los datos presentados a las instituciones oficiales.</p>
<p class="text-center font-italic">Si descubres que hay algún gazapo o quieres contactar conmigo puedes <a href="https://github.com/JGR-0/MyToolbox/issues" target="_blank">abrir un ticket en GitHub</a>.</p>
